<ion-content>

  <div class="fondo">

    <h1 class="heading">🚀 Crear Una Cuenta<br><br></h1>
    <p class="para">Registrate Para Empezar!</p>

    <form [formGroup]="usuario" (ngSubmit)="registrar()">

      <ion-card>

        <ion-card-content>

          <ion-grid>
            <ion-row>
              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset  class="input-item">
                    <legend>Rut</legend> 
                    <ion-input formControlName="rut" type="text" placeholder="22.222.222-2"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>

              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset  class="input-item">
                    <legend>Fecha de Nacimiento</legend> 
                    <ion-input formControlName="fecha_nacimiento" type="date"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset  class="input-item">
                    <legend>Nombres</legend> 
                    <ion-input formControlName="nombres" type="text" placeholder="Anthony Sebastian"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>

              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset  class="input-item">
                    <legend>Apellidos</legend> 
                    <ion-input formControlName="apellidos" type="text" placeholder="Caballero De La Puente"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset  class="input-item">
                    <legend>Email</legend> 
                    <ion-input formControlName="email" type="email" placeholder="anthonycab@gmail.com"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>

              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset  class="input-item">
                    <legend>Direccion</legend> 
                    <ion-input formControlName="direccion" type="email" placeholder="Avenida Siempre Viva 742"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>

          

          <ion-grid>
            <ion-row>
              <ion-col>

                <ion-item lines="none" class="ion-item" color="a" size="auto">
                  <fieldset  class="input-item">
                    <legend>Telefono</legend> 
                    <ion-input formControlName="telefono" type="number" placeholder="9999 9999"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>

              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset class="input-item">
                    <legend>Contraseña</legend> 
                    <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col>

                <ion-item lines="none" class="ion-item" color="a" size="auto">
                  <fieldset  class="input-item">
                    <legend>Discapacidad(Opcional)</legend> 
                    <ion-input formControlName="discapacidad" type="text" placeholder="Ej: Ceguera"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>

              <ion-col>

                <ion-item lines="none" class="ion-item" color="a">
                  <fieldset class="input-item">
                    <legend>Enfermedad(Opcional)</legend> 
                    <ion-input formControlName="enfermedad" type="text" placeholder="Hipertension"></ion-input>
                  </fieldset>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-radio-group value="" formControlName="genero">

            <ion-list-header>
              <legend>Seleccione Genero</legend>
            </ion-list-header>

            <ion-grid>
              <ion-row>

                <ion-col>
                  <ion-item color="a">
                    <legend>Mujer</legend>
                    <ion-radio value="mujer"></ion-radio>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item color="a">
                    <legend>Hombre</legend>
                    <ion-radio value="hombre"></ion-radio>
                  </ion-item>
                </ion-col>

              </ion-row>
            </ion-grid>

          </ion-radio-group>

          <ion-button class="login-button" expand="block" [disabled]="!usuario.valid" type="submit">Registrarse</ion-button>
          <p class="signup-text"><a routerLink="/login">Ya soy Miembro</a></p>

        </ion-card-content>

      </ion-card>

    </form>

  </div>

</ion-content>
