<ion-content>

  <div class="fondo">

    <ion-grid>
      <ion-row>

        <ion-col>

          <ion-card>

            <ion-label style="font-size: xx-large; color: black; margin-top: -210px;">Interesado en ser instructor? Despues de registrarte como beneficiario podras optar por convertire en uno :)</ion-label>

          </ion-card>

        </ion-col>

        <ion-col>

          <ion-card>

            <ion-label style="font-size: xx-large; color: black;">Cada vez se suman mas adultos mayores a nuestros talleres! <br> Que estas esperando? Unete a nosotros.</ion-label>
            <p class="a-text" style="margin-bottom: 5px; font-size: large;"><a routerLink="/login">Iniciar Sesion</a></p>
            <p class="a-text" style="margin-bottom: 5px; margin-top: -260px; font-size: large;"><a routerLink="/registro">Registrarse</a></p>

          </ion-card>

        </ion-col>

        <ion-col>

          <ion-card>

            <ion-label style="font-size: xx-large; color: black; margin-top: -210px;">Nuevos Talleres Disponibles! <br> Puedes Revisarlos ya en tu apartado de talleres :)</ion-label>

          </ion-card>

        </ion-col>

      </ion-row>
    </ion-grid>
    
  </div>

</ion-content>
