<ion-header>
  <ion-toolbar>
    <ion-title>Talleres Tercera Edad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <ion-card>

      <ion-card-content>

        <h1 class="heading">Olvidaste Tu Contraseña?<br><br></h1>
          <p class="para">Ingresa tu Email para restablecer</p>
          <ion-item lines="none" class="ion-item">
            <fieldset  class="input-item">
              <legend>Email</legend> 
              <ion-input type="email" placeholder="nombre@gmail.com/cl"></ion-input>
            </fieldset>
          </ion-item>
          <ion-button class="login-button" expand="block">Buscar</ion-button>
          <p class="signup-text"><a routerLink="/login">Volver</a></p>

      </ion-card-content>

    </ion-card>

  </div>
</ion-content>
